<!DOCTYPE html>
<html lang="en">
<div th:insert="~{fragments/background}"></div>
<head th:replace="~{fragments/head}"></head>
<body>
<div th:replace="~{fragments/navbar}"></div>
<div class="container d-flex flex-column justify-content-center align-items-center text-center" style="min-height: 60vh;">
    <h1>Welcome to Fruit Shop!</h1>
    <p>Your one-stop shop for fresh fruits.</p>
</div>
<div th:replace="~{fragments/footer}"></div>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
