<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{fragments/background}"></div>
<head th:replace="~{fragments/head}"></head>
<body>

<div th:replace="~{fragments/navbar}"></div>

<div class="container mt-5">
    <h2 th:text="${user.username}">Username</h2>
    <p>User ID: <span th:text="${user.id}"></span></p>
    <p>Last update: <span th:text="${#temporals.format(user.updatedOn, 'yyyy-MM-dd HH:mm:ss')}"></span></p>

    <div class="row mt-4">
        <div class="col-md-6">
            <form th:action="@{'/users/' + ${user.id} + '/profile'}"
                  th:object="${userEditRequest}"
                  method="post">
                <div class="form-group mb-2">
                    <label for="firstName">First Name</label>
                    <input type="text" id="firstName" th:field="*{firstName}" class="form-control" placeholder="First Name"/>
                </div>

                <div class="form-group mb-2">
                    <label for="lastName">Last Name</label>
                    <input type="text" id="lastName" th:field="*{lastName}" class="form-control" placeholder="Last Name"/>
                </div>

                <div class="form-group mb-2">
                    <label for="email">Email</label>
                    <input type="email" id="email" th:field="*{email}" class="form-control" placeholder="Email"/>
                </div>

                <div class="form-group mb-2">
                    <label for="profilePicture">Profile Picture URL</label>
                    <input type="text" id="profilePicture" th:field="*{profilePicture}" class="form-control" placeholder="Image URL"/>
                </div>

                <button type="submit" class="btn btn-primary mt-2">Save Changes</button>
            </form>
        </div>

        <div class="col-md-6">
            <h4>Add Address</h4>
            <form th:action="@{'/users/' + ${user.id} + '/add-address'}"
                  th:object="${addAddressRequest}"
                  method="post">
                <div class="form-group mb-2">
                    <label for="city">City</label>
                    <input type="text" id="city" th:field="*{city}" class="form-control" placeholder="City"/>
                </div>

                <div class="form-group mb-2">
                    <label for="zipCode">Postal Code</label>
                    <input type="text" id="zipCode" th:field="*{zipCode}" class="form-control" placeholder="Postal Code"/>
                </div>

                <div class="form-group mb-2">
                    <label for="street">Street</label>
                    <input type="text" id="street" th:field="*{street}" class="form-control" placeholder="Street"/>
                </div>

                <button type="submit" class="btn btn-success mt-2">Add Address</button>
            </form>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer}"></div>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
