<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{fragments/background}"></div>

<head th:replace="~{fragments/head}"></head>

<body>
<div th:replace="~{fragments/navbar}"></div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="profile-card p-3 py-4">
                <div class="text-center mt-3">
                    <h1 class="mt-4 mb-0" id="fullName">Full Name</h1>
                    <h2 th:text="${user.firstName + ' ' + user.lastName}">Full Name</h2>

                    <h1 class="mt-4 mb-0" id="email">Email</h1>
                    <h2 th:text="${user.email}"></h2>

                    <h1 class="mt-4 mb-0" id="role">Role</h1>
                    <h2 th:text="${user.role}"></h2>

                    <h1 class="mt-4 mb-0" id="orders" style="padding-bottom: 4%">
                        <a th:href="@{/users/details/orders}">My Orders</a>
                    </h1>

                    <div class="buttons">
                        <button class="read-more-btn">
                            <a th:href="@{'/users/edit/' + ${user.id}}">Edit</a>
                        </button>
                        <button class="read-more-btn">
                            <a href="/">Home</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer}"></div>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

</body>
</html>
